.link-style {
  text-decoration: none !important;
}

.body{
  background-color: #C0C0C0 !important;
};

.nav{
  background-color: #D9e021
};

.card{
  background-color: #ffffff!important
};

.scroll{
  overflow-y: scroll;
};

.img{

  max-height: 7vh;

};

.expense{
  max-height: 5vh;
};

$theme-colors: (
  primary: #0DB14B,
  info: #b779b4,
  success: #65b369,
  warning: #e3a331,
  danger: #f44336

);


@import '~bootstrap/scss/bootstrap.scss';